

body {  background-color: #fcfcfc;  margin: 0 10%;  font-family: sans-serif;}

img {margin: auto; width: 15%; border: 3px solid lightGrey; padding: 10px;}

.center {margin: auto; width: 50%; border: 3px solid green; padding: 10px;}

h1 {  background-color: #b6aca8; text-align: center;  font-family: serif;  font-weight: bold;  
	text-transform: uppercase; width: 100%; padding: 30px 0 50px 10px; margin-bottom: 0px; margin-top: 6px;
	color: #6b4984; font-size: 3em;}

h2 {  font-family: serif;  color: #6b4984;  font-size: 2em; margin: 10px; padding-bottom: 10px;}

h3 {  font-family: serif;  color: #855988;  font-size: 1.5em; margin: 5px; margin-left: 0px;}

h4 {  text-align: left;  color: #b6aca8; font-family: serif; margin: 10px; margin-left: 50px}

h5 {text-align: center;  color: #b6aca8; font-family: serif; margin: 10px; margin-left: 50px; font-size: 1em;}

p  {  text-align: left;  font-family: serif; margin: 10px; color: #616771;}

hr {  width: 80%; height: 0px; margin-left: auto; margin-right: auto;}

footer {text-align: center;  color: #616771; font-family: serif; margin: 10px; margin-left: 10px}

ul {color: #616771;}

